
.container {
    width:100%;
    }
    /* Xs*/
    @media (min-width: 475px) {
    .container{
    Max-width: 475px;}
    }
    /* sm*/
    @media (min-width: 640px) {
        .container{
    Max-width: 640px;}
    }
    /* md*/
    @media (min-width: 768px) {
    .container{
    Max-width: 768px;}
    }
    /* lg*/
    @media (min-width: 1024px) {
    .container{
    Max-width: 1024px;}
    }
    /* xl*/
    @media (min-width: 1280px) {
    .container{
    Max-width: 1280px;}
    }
    /* 2xl*/
    @media (min-width: 1536px) {
    .container{
    Max-width: 1536px;}
    }

:root{
/*font-sizes*/
--size-xxs:0.5rem;
--size-xs:.75rem;
--size-sm:.875rem;
--size-base:1rem;
--size-lg:1.125rem;
--size-xl:1.25rem;
--size-2xl:1.5rem;
}
