@font-face {
    font-family: fashion;
    src: url(font/FashionWacks.otf);   
}
:root{
    /*colors*/
    --main-black:#000;
    --main-white:#fff;
    --main-violet:#697793;
    --main-light-violet:#9ba9c6;
    --main-dark-violet:#58647a;
    --main-grey:#3c4453;
    /*font-sizes*/
    --size-xxs:0.5rem;
    --size-xs:.75rem;
    --size-sm:.875rem;
    --size-base:1rem;
    --size-lg:1.125rem;
    --size-xl:1.25rem;
    --size-2xl:1.5rem;
    /*custom-font-sizes*/
    --size-h1:6rem;
    --size-h2:5rem;
    --size-h3:4rem;
    --size-h4:3rem;
    --size-h5:2rem;
    /*grid values*/
    --num-cols:6;
    --row-height:480px;
}
/*RESET*/
*,
::before,::after{
    box-sizing: border-box;
    margin:0;
    padding: 0;
    border: 0;
    Line-height: calc(1em + 0.5rem);
}
strong{
    color: var(--main-dark-violet);
}
body{
    display: flex;
    flex-flow: column;
    background-image: linear-gradient(
    var(--main-white),
    var(--main-light-violet),
    var(--main-violet),
    var(--main-dark-violet));
    height: 100svh;
}
html{
    scroll-behavior: smooth;
    font-family: fashion, sans-serif;
}
img,svg{
    display: block;
    max-width: 100%;
    user-select: none;
}   
/*END OF RESET*/
/*scrollbar*/
body::-webkit-scrollbar {
    width: 10px;
}
body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 0 rgba(0, 0, 0, 0);
}
body::-webkit-scrollbar-thumb {
background-color: var(--main-dark-violet);
outline: 1px solid var(--main-light-violet);
}
/*end of scrollbar*/
/*responsiveness*/
@media (min-width: 768px){
    .header__menu{
        font-family: Arial;
        width: 100%;
        height: 60px;
        position: relative;
        align-items: center;
        display: flex;
        gap: 8.5rem;
        list-style: none;
        z-index: 99;
    }
    .header__link:hover{
        color: var(--main-violet);
    }
    .header__link{
        color: var(--main-black);
        text-decoration: none;
        font-size: var(--size-base);
        transition: color .3s;
    }
    .header__search{
        background-color: transparent;
        color: var(--main-black);
        width: var(--size-2xl);
        height: auto;
        display: block;
        position: relative;
        left: 20px;
    }
    .header__profile{
        background-color: transparent;
        color: var(--main-black);
        width: var(--size-2xl);
        height: auto;
        display: block;
        position: relative;
        right: 20px;  
    }
    .header__menu ul li a {
        color: var(--main-black);
        text-decoration: none;
    }
    .collections__dropdown{
        display: none;
    }
    .header ul li:hover .collections__dropdown{
        cursor: pointer;
        position: absolute;
        display: block;
        box-shadow: 5px 5px #3C4453;
        top: 70%;
        background-color: var(--main-light-violet);
    }
    .collections__dropdown ul li a:hover{
        color: var(--main-white);
        transition: color .3s;
    }
    .header ul li:hover .collections__dropdown ul{
        display: block;
        margin: 10px;
        list-style: none;
    }
    .header ul li:hover .collections__dropdown ul li{
        width: auto;
    }
    .collections__option{
        display: none;
        text-decoration: none;
        color:var(--main-white);
    }
    .collections__dropdown ul li:hover .collections__option{
        display:block;
        position: absolute;
        list-style: none;
        box-shadow: 5px 5px #3C4453;
        top: 30%;
        left: 85%;
        width: 120px;
        background-color: var(--main-light-violet);
    }
    .header__hamburger{
        display:none;
    }
}
    /*responsiveness*/
@media (min-width: 1024px) {
        .header__link{
            font-size: var(--size-sm);
            height: var(--size-2xl);
        }
        .header__search{
            width: var(--size-2xl);
            height: var(--size-2xl);
        }
        .header__profile{
            width: var(--size-2xl);
            height: var(--size-2xl);
        }
        .header ul li:hover .collections__dropdown ul li{
            width: auto;
        }
        .collections__dropdown ul li:hover .collections__option{
            width: 120px;
        }
}
/*end of header*/
/*about us section*/

.about__section{
    height: 93.9vh;
}
.about__section_border{
    width: 97%;
    height: 90svh;
    margin-left: 1.5%;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}
.about__section_content{
    display: grid;
    grid-auto-rows:var(--row-height);
    grid-template-columns:repeat(var(--num-cols),1fr);
    gap:10px;
    text-align: center;
}
.about__team_border{
    width: 100%;
    height: 50%;
    border: 1px solid blue;
    display: flex;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    box-shadow: 0 15px 35px rgba(0,0,0,0.25);
}
.about__team_border .team1{
    position: relative;
    overflow: hidden;
}
.about__team_border img{
    width: 100%;
}
.team1{
    grid-column: 1/3;
}
.team2{
    grid-column: 1/3;
}
.team3{
    grid-column: 1/3;
}
/*footer*/
  .footer{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    gap: 3.5rem;
    position: absolute;
    background-color: var(--main-grey);
    left: 0;
    right: 0;
    border: 0;
    color: var(--main-white);
    list-style: none;
  }
  .footer-content img{
    width: 90px;
    height: 90px;

  }
  .footer-content h4{
    margin-bottom:1.5rem ;
    font-size: 1.5rem;
    color: var(--main-white);
  }
  .footer-content li{
    margin-bottom: 16px;
  }
  .footer-content li a{
    display: block;
    font-size: 15px;
    font-weight: 400;
    font-family: Sans-Serif;
    transition: all .40s ease;
    color: var(--main-white);
    text-decoration: none;
  }
  .footer-content li a:hover{
    transform: translateY(-3px) translateX(-5px);
    color: var(--main-white);
  }
  .footer-content p{
    color: var(--main-white);
    font-size: 16px;
    line-height: 30px;
    margin: 20px 0;
  }
  .tagline p{
    display: inline-block;
    font-size: 22px;
    color: var(--main-white);
    margin-right: 17px;
    transform-box: all .40s ease;
  }
  .icon a{
    color: var(--main-white);
    font-size: 16px;
    line-height: 30px;
    margin: 20px 0;
  }
  .icon a:hover{
    transform: translateY(-5px);
  }
    @media (max-width:1690px){
    section{
      padding: 50px 5% 40px;
    }
  }
  @media (max-width:1120px){
    .footer{
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(300px, auto));
      gap: 2rem;
    }
  }
  @media (max-width:700px){
    .footer{
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(300px, auto));
      gap: 2.5rem;
    }
  }
