@font-face {
    font-family: fashion;
    src: url(font/FashionWacks.otf);   
}
:root{
    /*colors*/
    --main-black:#000;
    --main-white:#fff;
    --main-violet:#697793;
    --main-light-violet:#9ba9c6;
    --main-dark-violet:#58647a;
    --main-grey:#3c4453;
    /*font-sizes*/
    --size-xxs:0.5rem;
    --size-xs:.75rem;
    --size-sm:.875rem;
    --size-base:1rem;
    --size-lg:1.125rem;
    --size-xl:1.25rem;
    --size-2xl:1.5rem;
    /*custom-font-sizes*/
    --size-h1:6rem;
    --size-h2:5rem;
    --size-h3:4rem;
    --size-h4:3rem;
    --size-h5:2rem;
    /*grid values*/
    --num-cols:6;
    --row-height:480px;
}
/*RESET*/
*,
::before,::after{
    box-sizing: border-box;
    margin:0;
    padding: 0;
    border: 0;
    Line-height: calc(1em + 0.5rem);
}
strong{
    color: var(--main-dark-violet);
}
body{
    display: flex;
    flex-flow: column;
    background-image: linear-gradient(
    var(--main-white),
    var(--main-light-violet),
    var(--main-violet),
    var(--main-dark-violet));
}
html{
    scroll-behavior: smooth;
    font-family: fashion, sans-serif;
}
img,svg{
    display: block;
    max-width: 100%;
    user-select: none;
}   
/*END OF RESET*/
/*start of header section*/
.header{
    display: flex;
    align-items: center;
    position: relative;
    letter-spacing: -.05rem;
    background:transparent;
    z-index: 999;
}
.header__menu{
    display: none;
}
.header__hamburger{
    color: var(--main-dark-violet);
    width: var(--size-2xl);
    height: var(--size-2xl);
    display: block;
}
/*responsiveness*/
@media (min-width: 768px){
.header__menu{
    font-family: Arial;
    width: 100%;
    height: 60px;
    position: relative;
    align-items: center;
    display: flex;
    gap: 8.5rem;
    list-style: none;
}
.header__link:hover{
    color: var(--main-violet);
}
.header__link{
    color: var(--main-black);
    text-decoration: none;
    font-size: var(--size-base);
    transition: color .3s;
}
.header__search{
    background-color: transparent;
    color: var(--main-black);
    width: var(--size-2xl);
    height: auto;
    display: block;
    position: relative;
    left: 20px;
}
.header__profile{
    background-color: transparent;
    color: var(--main-black);
    width: var(--size-2xl);
    height: auto;
    display: block;
    position: relative;
    right: 20px;  
}
.header__menu ul li a {
    color: var(--main-black);
    text-decoration: none;
}
.collections__dropdown{
    display: none;
}
.header ul li:hover .collections__dropdown{
    cursor: pointer;
    position: absolute;
    display: block;
    box-shadow: 5px 5px #3C4453;
    top: 70%;
    background-color: var(--main-light-violet);
}
.collections__dropdown ul li a:hover{
    color: var(--main-white);
    transition: color .3s;
}
.header ul li:hover .collections__dropdown ul{
    display: block;
    margin: 10px;
    list-style: none;
}
.header ul li:hover .collections__dropdown ul li{
    width: auto;
}
.collections__option{
    display: none;
    text-decoration: none;
    color:var(--main-white);
}
.collections__dropdown ul li:hover .collections__option{
    display:block;
    position: absolute;
    list-style: none;
    box-shadow: 5px 5px #3C4453;
    top: 30%;
    left: 85%;
    width: 120px;
    background-color: var(--main-light-violet);
}
.header__hamburger{
    display:none;
}
}
/*responsiveness*/
@media (min-width: 1024px) {
    .header__link{
        font-size: var(--size-sm);
        height: var(--size-2xl);
    }
    .header__search{
        width: var(--size-2xl);
        height: var(--size-2xl);
    }
    .header__profile{
        width: var(--size-2xl);
        height: var(--size-2xl);
    }
    .header ul li:hover .collections__dropdown ul li{
        width: auto;
    }
    .collections__dropdown ul li:hover .collections__option{
        width: 120px;
    }
}
/*end of header*/
/*start of hero section*/
.hero__background{
height: 100svh;
}
.hero__border_txt{
    z-index: 2;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    width: 50%;
    color: var(--main-black);
    font-size:var(--size-xl);
    height: 70svh;
    border-radius: 5%;
    top: 15%;
    left: 2%;
    position: absolute;
    letter-spacing: .2rem;
    padding-left: 6%;
    padding-top:3%;
}
.hero__border_txt>h1{
    font-size: var(--size-h1);
    letter-spacing: -.2rem;
}
.hero__border_txt>h3{
    text-decoration-line:underline;
    text-decoration-color: var(--main-dark-violet);
}
.button{
    padding-top: .9%;
    margin-top: 5%;
    margin-left: 30%;
    position:relative;
    display: inline-block;
    width: 20%;
    height: auto;
    text-align: center;
    text-decoration: none;
    color: var(--main-black);
    background-color: var(--main-light-violet);
    box-shadow: 7px 7px 0px 0px var(--main-grey);
}
.button:hover{
    background-color: var(--main-grey);
    color: var(--main-white);
    box-shadow: none;
    transition-duration: .4s;
    transform: scale(1.1);
}
.hero_border_img{
    background-image: url(./img/bebeko.jpg); 
    background-repeat: no-repeat;
    background-position: 50%;
    background-size:cover; 
    float: right;
    position: absolute;
    display: block;
    width: 30%;
    height: 65svh;
    top: 15%;
    right: 10%;
    z-index: 2;
    border-radius:0% 17% 0% 17%;
}
.design_wave{
    position: absolute;
    width: 100%;
    background-image: url(./img/waves.png);
    z-index: 1;
    height: 60svh;
    top:40%;
}
.hero_border_img_design2{
    background-image: url(./img/bg_design_black.png);
    position: absolute;
    top: 18%;
    right: 4%;
    height: 20%;
    width: 10%;
    z-index: 2;
}
.hero_border_img_design3{
    background-image: url(./img/bg_design_black.png);
    position: absolute;
    top: 65%;
    right: 37%;
    height: 20%;
    width: 10%;
    z-index: 2;
}
@media (max-width: 768px){
    .hero__border_txt{
        width: 50%;
        height: 70svh;
    }
    .hero__border_txt>h1{
        font-size: var(--size-h3);
    }
    .hero__border_txt>h3{
        font-size: var(--size-h5);
    }
    .button{
        width: 150px;
        height: auto;
    }
}
/*end of hero section*/
/*start of highlight section*/
.highlight__section{
    display: relative;
    height: 100svh;
    width: 100%;
    text-align: center;
    padding: 1% 1%;
}
.highlight__section>h2{
    margin-top: 2.5%;
    letter-spacing: .20rem;
    font-size: var(--size-h2);
    color: var(--main-white);
    text-shadow: 4px 3px 1px var(--main-grey);
}
.highlight__product{
    position: relative;
    box-sizing: border-box;
    margin-top: 2%;
    gap:1%;
    display:grid;
    grid-template-columns:repeat(var(--num-cols),1fr);
    grid-auto-rows:var(--row-height);
}
.highlight__product>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.highlight__product1,.highlight__product2,.highlight__product3{
    background:radial-gradient( var(--main-white), var(--main-violet));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 #0000005e;
}
.highlight__product1{
    grid-column: 1/3;
}
.highlight__product2{
    grid-column: 3/5;
}
.highlight__product3{
    grid-column: 5/7;
}
/*responsiveness*/
@media (max-width: 768px){
    .highlight__section{
        height: 100svh;
        width: 100%;
        padding: 1% 1%;
    }
    .highlight__section>h2{
        letter-spacing: .20rem;
        text-align: center;
        font-size: var(--size-2xl);
        text-shadow: 2px 2px 1px var(--main-grey);
    }
    .highlight__product{
        border: red 1px solid;
        margin-top: 2%;
        position: relative;
    }
    .highlight__product{
        --num-cols:2;
        --row-height:70svh;
    }
}
/*end of highlight section*/
/*start of buy section*/
.buy__section{
    display: relative;
    height: 100svh;
    width: 100%;
    text-align: center;
    padding: 1% 1%;
}
.buy__section_design{
    height: 90svh;
    top:170svh;
    width: 100%;
    z-index: -1;
    margin-left: -1%;;
}
.buy__section>h3{
    margin-top: 2.5%;
    letter-spacing: .20rem;
    font-size: var(--size-h2);
    color: var(--main-white);
    text-shadow: 4px 3px 1px var(--main-grey);
}
.buy__option{
    position: relative;
    box-sizing: border-box;
    margin-top: 2%;
    gap:1%;
    display:grid;
    grid-template-columns:repeat(var(--num-cols),1fr);
    grid-auto-rows:var(--row-height);
}
.buy__img{
    position: relative;
    margin:auto;
    border-radius: 10% 10%;
    width: 90%;
    height: 75%;
    overflow: hidden;
    display: block;
}
.buy__choices{
    display: relative;
    width: 100%;
    vertical-align: middle;
}
.buy__section_button{
    background-color: var(--main-light-violet);
    position: relative;
    display: inline-block;
    right: 18%;
    top:auto;
}
.buy__txt{
    position: relative;
    text-align: center;
    color:var(--main-grey);
    letter-spacing: .1rem;
    padding-top: 5px;
    margin-bottom: 0;
    font-size: var(--size-xl);
}
.buy__option1,.buy__option2,.buy__option3{
    background-color: var(--main-white);
}
.buy__option1{
    box-shadow: -4px 5px 0px 1px #303443;
}
.buy__option2{
    box-shadow: -0px 5px 0px 2px #303443;
}
.buy__option3{
    box-shadow: 4px 5px 0px 1px #303443;
}
.buy__option1{
    grid-column: 1/3;
}
.buy__option2{
    grid-column: 3/5;
}
.buy__option3{
    grid-column: 5/7;
}
/*end of buy section*/


/*scrollbar*/
body::-webkit-scrollbar {
    width: 10px;
}
body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 0 rgba(0, 0, 0, 0);
}
body::-webkit-scrollbar-thumb {
background-color: var(--main-dark-violet);
outline: 1px solid var(--main-light-violet);
}
/*end of scrollbar*/