@font-face {
    font-family: fashion;
    src: url(font/FashionWacks.otf);   
}

:root{
    /*colors*/
    --main-black:#000;
    --main-white:#fff;
    --main-violet:#697793;
    --main-light-violet:#9ba9c6;
    --main-dark-violet:#58647a;
    --main-grey:#3c4453;

    /*font-sizes*/
    --size-xxs:0.5rem;
    --size-xs:.75rem;
    --size-sm:.875rem;
    --size-base:1rem;
    --size-lg:1.125rem;
    --size-xl:1.25rem;
    --size-2xl:1.5rem;
}
/*RESET*/
*,
::before,::after{
    box-sizing: border-box;
    margin:0;
    padding: 0;
    border: 0;
    Line-height: calc(1em + 0.5rem);
}
body{
    display: flex;
    flex-flow: column;
}

html{
    scroll-behavior: smooth;
}
img,svg{
    display: block;
    max-width: 100%;
    user-select: none;
}   
/*END OF RESET*/
/*BACKGROUND*/
.RBG{
    background: var(--main-violet);
    color: var(--main-white);
    width: 50%;
    height: 100vh;
    float: right;
    display: block;
    position: relative;
}
.LBG{
    background: var(--main-white);
    color: var(--main-black);  
    width: 50%;
    height: 100vh;
    float: left;
    display: block;
    position: relative;
}
.centerBG{
    position: absolute;
    display: block;
    width: auto;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
}
/*END OF BACKGROUND*/
/*SECTIONS*/
/*HEADER SECTION*/
.header{
    display: flex;
    align-items: center;
    padding: 2rem,.5rem;
    position: relative;
}
.header__menu_left,
.header__menu_right{
    display: none;
}
.header__hamburger{
    color:var(--main-black);
    width: var(--size-2xl);
    height: var(--size-2xl);
    display: block;
}
/* md*/ /*RESPONSIVENESS*/
@media (min-width: 768px) {
    .header__menu_left{
        position: relative;
        background-color: var(--main-white);
        display: inline-flex;
        align-items: center;
        list-style: none;
        padding: 0;
        gap: 7.5em;
        width: 100%;
        height: 60px;
    }
    .header__menu_right{    
        position: relative;
        background-color: var(--main-violet);
        display:inline-flex ;
        align-items: center;
        list-style: none;
        padding: 0;
        gap: 7.5em;
        width: 100%;
        height: 60px;
    }
    .header__link_left:hover
    {
        color:var(--main-violet);
    }
    .header__link_right:hover
    {
        color:var(--main-grey);
    }
    .header__link_left{
        position: relative;
        color:var(--main-black);
        text-decoration: none;
        transition: color .3s;
        font-size:var(--size-base);
        letter-spacing: -.05rem;
        font-family: fashion,sans-serif;
        font-weight: bold;
    }
    .header__link_right{
        position: relative;
        color:var(--main-white);
        text-decoration: none;
        transition: color .3s;
        font-size:var(--size-base);
        letter-spacing: -.05rem;
        font-family: fashion,sans-serif;
        font-weight: bold;
    }
    .header__search{
        background-color: transparent;
        color:var(--main-grey);
        width: var(--size-base);
        height: var(--size-base);
        display: block;
        justify-content: flex-start;
    }
    .header__profile{
        background-color: transparent;
        color: var(--main-white);
        width: var(--size-base);
        height: var(--size-base);
        display: block;
        justify-content: flex-end;
    }
    .header__hamburger{
        display: none;
    }
}
/* lg*/ /*RESPONSIVENESS*/
@media (min-width: 1024px) {
    .header__link_left{
        font-size:var(--size-xl);
    }
    .header__link_right{
        font-size:var(--size-xl);
    }
    .header__search{
        color:var(--main-grey);
        width: var(--size-2xl);
        height: var(--size-2xl);
        justify-content: flex-start;
    }
    .header__profile{
        background-color: transparent;
        color: var(--main-white);
        width: var(--size-2xl);
        height: var(--size-2xl);
        justify-content: flex-end;
    }
}

/*START OF DROPDOWN*/
.header__menu_right ul li a {
    color: var(--main-white);
    text-decoration: none;
}
.collections__dropdown{
    display: none;
    z-index: 9;
}
.header ul li:hover .collections__dropdown{
    cursor: pointer;
    text-decoration: none;
    position: absolute;
    display: block;
    box-shadow: 5px 5px #3C4453;
    left: 25%;
    top: 100%;
    background-color: var(--main-dark-violet);
}
.collections__dropdown ul li a:hover{
    color: var(--main-grey);
    transition: color .3s;
}
.header ul li:hover .collections__dropdown ul{
    display: block;
    margin: 10px;
    list-style: none;
}
.header ul li:hover .collections__dropdown ul li{
    width: 150px;
}
.collections__option{
    display: none;
}
.collections__dropdown ul li:hover .collections__option{
    display: block;
    position: absolute;
    list-style: none;
    
    box-shadow: 5px 5px #3C4453;
    top: 0;
    left: 150px;
    background-color: var(--main-dark-violet);
}
/*END OF DROPDOWN*/
/*HERO SECTION*/
.section__hero{
    font-family:fashion,sans-serif;
}
.dressire_txt_left{
    width: 50%;
    top: 15%;
    height: auto;
    padding-left: 22%;
    color: var(--main-black);
    text-align: center;
    font-family: inherit;
    font-size: 6rem;
    font-style: oblique;
    text-transform: uppercase;
    letter-spacing: 1rem;
    justify-content: start;
    position: absolute;
}
.dressire_txt_right{
    width: 50%;
    height: auto;
    top: 15%;
    padding-right: 30%;
    color: var(--main-white);
    text-align: center;
    font-family: inherit;
    font-size: 6rem;
    font-style: oblique;
    text-transform: uppercase;
    letter-spacing: 1rem;
    right:0;
    justify-content: start;
    position: absolute;
}
.section__tagline{
    display: inline;
    width: 50%;
    position: absolute;
    height: auto;
    top: 35%;
    font-family: inherit;
    font-size: var(--size-lg);
    letter-spacing: .09rem;
    padding-left:3%;
    z-index: 2;
}

.hero__button{
    z-index: 2;
    text-decoration: none;
    color: var(--main-black);
    width: 10%;
    height: 5%;
    top: 47%;
    padding-top: .5%;
    left: 10%;
    font-family: inherit;
    text-align: center;
    letter-spacing: .09rem;
    background-color: var(--main-light-violet);
    position: absolute;
    box-shadow: 5px 5px #3C4453;
}
.hero__button:hover{
    background-color: var(--main-grey);
    color: var(--main-white);
    box-shadow: none;
    transition-duration: .4s;
    transform: scale(1.1);
}
.section__hero_bgdesign_left1{
    position: absolute;
    top:55%;
    left: 30%;
    z-index: 1;
}
.section__hero_bgdesign_left2{
    position: absolute;
    top:77%;
    left: 29%;
    z-index: 1;
}
.section__hero_bgdesign_right1{
    position: absolute;
    top:37%;
    right: 34%;
    z-index: 1;
    max-width: 10%;
}
.section__hero_bgdesign_right2{
    position: absolute;
    top:57%;
    right: 19%;
    z-index: 1;
    max-width: 10%;
}
.section__hero_bgdesign_right3{
    position: absolute;
    top:75%;
    right: 19.5%;
    z-index: 1;
    max-width: 10%;
}